.loginContainer {
    border: 1px solid rgb(176, 168, 168);
    padding: 20px;
    height: 100%;
    width: 420px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 20px;
}

.loginTitle {
    color: brown;
    padding: 0px 0 15px 0;
    border-bottom: 2px solid rgb(143, 142, 142);
}

.loginSubHeader {
    font-size: 35px;
}


.loginField input {
    justify-content: center;
    display: flex;
    padding: 10px;
    width: 380px;
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
}

.loginField label {
    font-size: 16px;
    font-weight: 400;
}

.errFlds {
    color: red;
    margin-bottom: 10px;
    font-size: 16px;
}

.loginBtn {
    color: white;
    background-color: darkgreen;
    margin-left: 0;
    padding: 8px;
    font-size: 16px;
    border: 1px solid darkgreen;
    border-radius: 10px;
    width: 100px;
    margin-bottom: 10px;
    text-align: center;
}
.btnWrapper {
    display: flex;
    justify-content: center;
}
.loginBtn:hover {
    background-color: brown;
}

div {
    display: block;
    unicode-bidi: isolate;
}