<div class="signupContainer">
    <h1 class="megamart">Mega Mart</h1>
    <div class="signupSection">
        <form [formGroup]="signupForm">
            <h2 class="megaSignup">Sign up</h2>

            <div>
                Name<input class="signupField" formControlName="name" type="text" />
                <div class="errFlds" *ngIf="submitBtnStatus && signupForm.controls['name'].errors?.['required']">
                    Name is mandatory
                </div>
            </div>

            <div>
                Email<input class="signupField" formControlName="email" type="email" /> </div>
            <div class="errFlds" *ngIf="submitBtnStatus && signupForm.controls['email'].errors?.['required']">
                Email is mandatory
            </div>
            <div>
                User Role: <select name="userRole" formControlName="userrole">
                    <option>Please select user role</option>
                    <option>Customer</option>
                    <option>Seller</option>
                    <option>Admin</option>
                </select>
                <div class="errFlds" *ngIf="submitBtnStatus && signupForm.controls['userrole'].errors?.['required']">
                    User Role is mandatory
                </div>
            </div>

            <div> Password<input class="signupField" formControlName="password" type="password" />
                <div class="errFlds" *ngIf="submitBtnStatus && signupForm.controls['password'].errors?.['required']">
                    Password is mandatory
                </div>
            </div>
            <div> Confirm Password<input class="signupField" formControlName="confirm" type="password" />
                <div class="errFlds" *ngIf="submitBtnStatus && signupForm.controls['confirm'].errors?.['required']">
                    Confirm Password is mandatory
                </div>
            </div>

            <div class="signBtn">
                <button class="signupClick" (click)="myClickHandler()">Create Account</button>
            </div>
            <!-- <div><a href="#" (click)="navigateWebhome($event)">Seller Dashboard </a></div> -->
        </form>
    </div>
</div>