body{
border-radius: 10px;
}
.signupContainer {
    border: 2px solid black;
    padding: 10px;
    height: 100%;
    width: 420px;
    justify-content: center;
    margin: 0 auto;
    border-radius: 5px;
    background-color: none;

}

.megamart {
    color: brown;
    padding: 0px;
    border-bottom: solid 2px rgb(143, 142, 142);

}

.megaSignup {
    font-size: 35px;

}

.signupSections {
    height: 300px;


}


.signupField {

    justify-content: center;
    display: flex;
    padding: 5px;
    width: 380px;
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
}

.userRole {
    display: flex;
    padding: 10px;


}

select {
    padding: 10px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    border: solid;
    border-radius: 10px;
}

.errFlds {
    color: red;
    margin-bottom: 7px;
}

.signupClick {
    color: white;
    background-color: darkgreen;
    letter-spacing: 3px;
    padding: 15px;
    width: 307px;
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-color: green;
}

.signupClick:hover {
    background-color: rgb(104, 32, 32);
    border-color: rgb(6, 60, 60);
    box-shadow: inset;
}

.signBtn {
    display: flex;
    justify-content: center;
}